<div class= "banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">

  <div class="banner-content">
    <h1>mister_cocktail</h1>
    <h4>crte_yr_unqie_rcpi</h2>
    <%= link_to new_cocktail_path do  %>
      <div class="button">
        start now
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper">
  <div class="card-container">
    <div class="landing-title">
      <h2 class="text-center">crte_by_cmmnity</h2>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col col-sx-12 col-sm-4">
          <%= link_to cocktail_path(cocktail), class: 'link' do %>
            <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <%= cl_image_tag cocktail.photo, height: 175, width: 260, crop: :fill %>
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= cocktail.name %></h2>
              </div>
            </div>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


