<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">
  <div class="container form-container">
    <div class="form-card">
      <%= link_to cocktails_path do %>
        <%= fa_icon 'fa-home' %>
      <% end %>
      <div class="row">
        <h2>new_cocktail</h2>
        <div class="col col-xs-12 col-sm-6 col-sm-offset-3">
          <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.submit "submit", class: "new-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
